@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  letter-spacing: 0;
  background: #fff;
  margin: 0 auto;
  color: #424242;
  font-family: "DM Sans", sans-serif;
  font-family: "Overpass", sans-serif;
}

body .wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

a {
  margin-bottom: 0;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: overpass;
  color: #233d63;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.2;
}

.head_cont p {
  margin-bottom: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0.8px;
  font-family: Overpass;
  font-style: normal;
  text-decoration: none;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

p,
li {
  font-size: 15px;
  line-height: 24px;
  color: #56676b;
  letter-spacing: 0;
  font-weight: 400;
}

.no-list-style ul {
  margin: 0;
  list-style: none;
}

.no-list-style li {
  margin: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a {
  color: #fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero a {
  margin: 0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a {
  color: #246bfd;
}

a {
  color: #246bfd;
  transition: all ease-in-out 0.2s;
}

a:hover {
  text-decoration: underline;
  transition: all ease-in-out 0.2s;
}

blockquote {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  color: #333;
  font-weight: 300;
  padding-left: 17px;
  border-left: 2px solid #246bfd;
  margin-left: 4px;
  margin-top: 25px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

body a.cta_button {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.5px;
  padding: 15px 27px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  background: #6315ff;
  border: 1px solid #fff;
  text-decoration: none;
  margin-bottom: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  font-family: overpass;
}

body a.cta_button:hover {
  color: #246bfd;
  background: #fff;
  border: 1px solid #246bfd;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.srction_0 {
  border-bottom: 2px solid #cecece;
  padding: 2px 0;
  background: #fff;
  position: relative;
  z-index: 2;
}

.search_cont {
  display: flex;
  gap: 15px;
  align-items: center;
}

img.search_icon {
  max-width: 23.38px;
  margin: 0 auto;
  height: auto;
  width: 100%;
  align-items: center;
}

.main_0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_cont {
  display: flex;
}

.menu_cont ul {
  display: flex;
}

.menu_cont ul li {
  padding: 20px 22px;
  list-style: none;
}

.business_expert_logo_1 {
  max-width: 169px;
  margin: 0;
}

.menu_cont ul li a {
  color: #333;
}

.nav_cta a.cta_button {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.5px;
  padding: 23px 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  background: #6315ff;
  border: 1px solid #fff;
  text-decoration: none;
  margin-bottom: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  font-family: overpass;
}

.section {
  padding-top: 125px;
  padding-bottom: 107px;
}

.main_cont_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r_cont .right_image {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 20px;
}

.cta_cont {
  display: flex;
}

.cta_cont .cta_1 a.cta_button {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.5px;
  padding: 15px 27px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  background: #6315ff;
  border: 1px solid #fff;
  text-decoration: none;
  margin-bottom: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  font-family: overpass;
}

.cta_cont .cta_2 a.cta_button {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.5px;
  padding: 15px 27px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #6315ff;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #6315ff;
  text-decoration: none;
  margin-bottom: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  font-family: overpass;
}

.cta_cont .cta_1 a.cta_button:hover {
  color: #246bfd;
  background: #fff;
  border: 1px solid #246bfd;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.cta_cont .cta_2 a.cta_button:hover {
  color: #ffffff;
  background: #6315ff;
  border: 1px solid #246bfd;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.cta_cont .cta_2 {
  margin-left: 15px;
}

.section_2 {
  padding-bottom: 30px;
  position: relative;
}

.img_hand {
  text-align: center;
}

.align-center {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.align-center h2 {
  font-size: 42px;
  margin: 36px 0px 8px;
  padding: 0px 0px 2px;
}

.three_card {
  display: flex;
  justify-content: center;
}

.row_card {
  align-items: center;
  padding: 47px 20px 68px;
  border: solid 1px #cecece;
  background-color: #ffffff;
  max-width: 273px;
  text-align: center;
  margin-bottom: 30px;
}

.three_card .row_card:hover {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}

.row_card h3 {
  color: #333;
  margin: 58px 0px 25px;
}

.row_card p {
  margin: 0px 27.1667px;
}
.row_card a {
  margin-top: 21px 0px 0px;
  color: #6315ff;
}

.second_card,
.third_card {
  margin-left: 30px;
}

.section_3 {
  padding: 44px 0px 68px;
}

.left_1 {
  max-width: 570px;
}

.main_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_cont_1 h2 {
  margin: 39px 0px 10px;
  color: #233d63;
  font-size: 42px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.heading_cont_1 p {
  margin-bottom: 50px;
  font-size: 16px;
  color: #233d63;
}

.right_1 .image_2 {
  margin-left: 40px;
}

.section_4 {
  padding-top: 44px;
  padding-bottom: 68px;
}

.right_2 {
  max-width: 570px;
  margin-left: 20px;
}

.main_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_cont_2 h2 {
  margin: 39px 0px 10px;
  font-size: 42px;
  color: #233d63;
  font-family: overpass;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.heading_cont_2 p {
  margin-bottom: 50px;
  font-size: 16px;
  color: #233d63;
}

.left_2 .image_2 {
  width: 100%;
  margin: 0 auto;
}

.section_5 {
  padding: 154px 0px 0px;
}

.section_5 .align-center {
  max-width: 650px;
  text-align: center;
  padding-bottom: 56px;
}

.section_5 .align-center h2 {
  font-size: 42px;
  font-family: Overpass;
  color: #233d63;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.section_5 .align-center h2 .dark_underline {
  border-bottom: 6px solid #233d63;
  font-weight: bold;
}

.left_image img {
  max-width: 81px;
  height: auto;
}

.six_cont {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first_three {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 0px 93px;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.same {
  display: flex;
  margin: 0px 0px 45px;
  max-width: 370px;
  flex-direction: row;
  justify-content: space-between;
}

.same .r1_cont {
  margin: 0px 0px 0px 9.47917px;
  max-width: 243px;
}
.same .r1_cont h3 {
  margin: 0px 0px 8px;
  font-size: 24px;
  font-family: overpass;
  color: #233d63;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.4px;
}

.same .r1_cont p {
  margin: 0px 0px 16px;
  font-size: 16px;
  color: #233d63;
  font-family: Overpass;
}

.second_three {
  display: flex;
  padding: 0px 0px 93px;
  gap: 20px;
  align-items: center;
  text-align: center;
}




.section_6 {
  padding: 25x 0px 25px;
}

.main_6 .dollar_icon {
  text-align: center;
  padding: 0px 0px 33px;
}

.main_6 .heading_6 {
  max-width: 650px;
  text-align: center;
  margin: 0px auto;
}

.main_6 .heading_6 h2 {
  margin: 36px 0px 8px;
  padding: 0px 0px 2px;
  font-size: 42px;
  font-family: Overpass;
  color: #233d63;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.price_box {
  background-color: #fbfbfb;
  border: 1px solid #cecece;
  text-align: center;
  padding: 29px 0px 50px;
  border-radius: 4px;
  max-width: 370px;
}

.price_box h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 2.02px;
  font-family: Overpass;
  color: #233d63;
  margin-bottom: 0px 0px 8px;
}

.price_box h3 {
  font-size: 62px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: -1.88px;
  background-color: rgba(213, 224, 253, 0.55);
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0 5px;
  margin: 12px 0 40px;
  font-family: Overpass;
  color: #233d63;
  font-style: normal;
}

.price_box h3 .month {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.63;
  letter-spacing: 0.3px;
}

.price_box h3 ul {
  text-align: center;
  text-decoration: none;
}

.price_box ul li {
  padding: 0px 0px 9px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: overpass;
  line-height: 1.5;
  letter-spacing: normal;
  padding-bottom: 9px;
  color: #233d63;
  list-style: none;
}

.price_box .cta a.cta_button {
  font-family: Overpass;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  background: #6315ff;
  line-height: 1.75;
  padding: 15px 39px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: all 0.2s ease-in;
  letter-spacing: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  border: 1px solid #6315ff;
}

.price_box .cta a.cta_button:hover {
  color: #6315ff;
  background: #ffffff;
  border: 1px solid #246bfd;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.price_box .cta {
  margin: 34px 0px 30px;
}

.card_cont {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.price_box:hover {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}

.section_7 {
  padding: 25px 0px 30px;
}

.main_7 {
  display: flex;
}

.main_7 h2,
.counter {
  font-size: 42px;
  font-family: Overpass;
  color: #233d63;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.main_7 .four_div_same h6 {
  font-size: 16px;
  font-family: Overpass;
  color: #233d63;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  margin: 0px 0px 8px;
  line-height: 1.44;
  letter-spacing: normal;
}

.main_7 .four_div_same {
  width: 23.076923077%;
  padding: 38px 20px 28px;
  margin-bottom: 35px;
  white-space: normal;
  border-radius: 4px;
  border: 1px solid #cecece;
  background-color: #fff;
  text-align: center;
}

.margin_same {
  margin-left: 30px;
}

.main_7 .four_div_same h2,
h6 {
  margin: 0px 0px 8px;
}

.section_8 {
  padding: 85px 0px 108px;
}

.heading_8 {
  max-width: 567px;
  display: block;
}

.section_8 h2 {
  font-size: 42px;
  font-family: Overpass;
  color: #233d63;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
  margin: 17px 0px 31px;
}

.main8_card_slider .same_5 p {
  margin: -3px 0 65px;
}

.main8_card_slider .same_5 {
  margin-right: 37px;
  margin-left: 0px;
  width: 100%;
  max-width: 364px;
  border-radius: 4px;
  border: 1px solid #cecece;
  background-color: #fff;
  padding: 2px 35px 25px 36px;
  box-sizing: border-box;
}

.same_5 .five_star {
  display: flex;
  gap: 15px;
  margin: 20px 0px;
}

.same_5 .five_star .star {
  max-width: 25px;
}

.main8_card_slider .expert_man_main_div {
  display: flex;
  align-items: center;
}

.expert_man_main_div .expert_man_cont h5 {
  margin: 0px 0px 8px;
}

.expert_man_main_div .expert_man_cont {
  margin: 0px 0px 0px 6.17188px;
  padding: 0px 0px 0px 10px;
}

.main8_card_slider {
  display: flex;
}

.section_9 {
  padding: 44px 0px 68px;
}

.section_9 .main_9 {
  display: flex;
  align-items: center;
}

.main_9 .Left_bulb_cont {
  max-width: 672px;
}

.main_9 .Left_bulb_cont h2 {
  margin: 39px 0px 10px;
  font-size: 42px;
  color: #233d63;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}

.main_9 .Left_bulb_cont p {
  margin: 0px 0px 50px;
}

.main_9 .Left_bulb_cont .bulb_2_cta {
  display: flex;
  gap: 20px;
}

.main_9 .Left_bulb_cont .bulb_2_cta .second_bulb_cta {
  margin-left: 10px;
}

.section_10 {
  padding: 74px 0px 34px;
}

.company_logo {
  padding: 32px 0px 34px;
}

.section_10 .heading_10 {
  text-align: center;
  max-width: 650px;
  margin: 0px auto;
}

.section_10 .heading_10 h2 {
  margin: 36px 0px 8px;
  padding: 0px 0px 2px;
}

.company_logo_main_div {
  padding: 32px 0px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company_logo ul li {
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  border: solid 1px #cecece;
  background-color: #fff;
  min-width: 170px;
  min-height: 125px;
  max-height: 125px;
  padding: 12px 12px;
  text-align: center;
  margin: 10px;
  height: 1vh;
  width: 16%;
}

.company_logo ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  flex-basis: 50%;
}

.section_11 {
  padding: 65px 0px 237px;
}
.main_11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.foam .your_name {
  margin-bottom: 18px;
}

.main_11 .right_bulb_and_portfolio_cont {
  max-width: 470px;
}

.section_12 {
  background: rgba(213, 224, 253, 0.35);
  padding: 121px 0px 84px;
}

.main_12 {
  text-align: center;
}

.main_12 {
  padding: 121px 0 84px;
}

.foam_suscribe foam {
  max-width: 610px;
  margin: 35px auto 0;
  position: relative;
}

.actions {
  padding: 0;
}

section_12 foam input .hs-button {
  min-width: 34%;
  position: absolute;
  top: 11px;
  right: 10px;
}

.hs-button {
  font-size: 16px;
  font-family: Overpass;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  background: #6315ff;
  line-height: 1.75;
  padding: 15px 39px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  letter-spacing: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  border: 1px solid #6315ff;
}

.hs-button:hover {
  background: #fff;
  border-color: #6315ff;
  color: #6315ff;
}

input.hs-button.large {
  max-width: 207px;
}

input#email {
  max-width: 610px;
  background-color: #fff;
  color: rgba(35, 61, 99, 0.5);
  font-weight: 400;
  padding: 0 20px;
  min-height: 80px;
  padding: 0px 274.5px 0px 20px;
}

form {
  position: relative;
}

input.hs-button.primary.large {
  position: absolute;
  top: 11px;
  right: 26%;
  left: 57%;
}

.section_13 {
  width: 100%;
  background: #1c233d;
  padding: 118px 0 20px;
}

.main_13 {
  display: flex;
  justify-content: space-between;
}

.left_portion_1 {
  max-width: 572px;
  color: white;
}

.about_us p {
  color: white;
}
.copyright p {
  color: white;
}

.main_13 li,
.main_13 h3 {
  color: rgb(255, 255, 255);
}

.right_portion {
  max-width: 570px;
}

.right_portion ul {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.right_portion li {
  list-style: none;
  padding: 0px 20px;
}

.left_portion_1 .businesso_con_logo {
  display: flex;
  gap: 20px;
}

.down_cont {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.down_cont .socialmedia_logo {
  display: flex;
  max-width: 570px;
  justify-content: right;
}

.facebook,
.linkedin {
  margin: 0px 8px;
}

.copyright {
  max-width: 570px;
  margin-bottom: 16px;
}

.about_us {
  max-width: 277px;
}

.business_logo {
  width: 277px;
}

form input {
  display: inline-block;
  width: 100%;
  height: 58px;
  padding: 9px 10px;
  font-size: 16px;
  font-family: Overpass;
  color: rgba(35, 61, 99, 0.65);
  text-decoration: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 15px;
}

form input#text {
  height: 122px;
}

form input:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
}

.cta {
  padding: 0px;
}



@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
    word-break: break-all;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
  }

@media (max-width: 767px) {
  .bulb {
    padding-bottom: 12px;
  }

  input#email {
    max-width: 100%;
  }

  .main_0 {
    display: block;
  }

  .menu_cont {
    display: none;
  }

  .business_expert_logo_1 {
    max-width: 169px;
    margin: 0;
  }

  .search_cont {
    justify-content: center;
  }

  .left_portion_1 .businesso_con_logo {
    display: block;
  }

  .foam_subscribe input#email {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .four_div_same.padding_0 {
    padding-left: 0px;
    padding-right: 0px;
  }

    input.hs-button.primary.large {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: initial;
  }

  .subbmit_button a.cta_button {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .section_13 {
    width: 100%;
    background: #1c233d;
    padding: 118px 0 20px;
  }

  .section_13 .main_13 {
    display: block;
  }

  .left_portion_1 {
    max-width: 572px;
    color: white;
  }

  .about_us p {
    color: white;
  }

  .copyright p {
    color: white;
  }

  .main_13 li,
  h3 {
    color: white;
  }

  .right_portion {
    max-width: 570px;
  }

  .right_portion ul {
    display: block;
    padding-top: 30px;
  }

  .right_portion li {
    list-style: none;
    padding: 0px 5px;
    padding-bottom: 10px;
  }

  .left_portion_1 .businesso_con_logt {
    display: block;
    gap: 10px;
  }

  .down_cont {
    display: block;
    justify-content: space-between;
    padding-top: 20px;
  }

  .down_cont .socialmedia_logo {
    max-width: 100%;
    justify-content: left;
  }

  .facebook,
  .linkdin {
    margin: 0px 8px;
  }
  
  .copyright {
    max-width: 100%;
    margin-bottom: 16px;
  }
  
  .about_us {
    max-width: 100%;
    margin-top: 30px;
  }

  .business_logo {
    width: 100%;
  }

  .main_7 .four_div_same {
    width: 100%;
  }

  .margin_same {
    margin-left: 0px;
  }

  .main_cont_1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_2 .row_card {
    align-items: center;
    padding: 47px 20px 68px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .cta_cont .cta_2 a.cta_button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_cont_1 .r_cont {
    margin-top: 20px;
  }

  .cta_cont .cta_1 a.cta_button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .section {
    padding: 40px 0px;
  }

  .cta_cont {
    display: block;
  }

  .cta_1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .cta_2 {
    max-width: 100%;
  }

  .l_cont {
    max-width: 100%;
    margin-top: 40px;
  }

  .cta_cont {
    display: block;
  }

  .cta_cont .cta_2 {
    margin-left: 0px;
  }

  .img_hand {
    text-align: center;
  }
  
  .align-center {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 29px;
  }

  .align-center h2 {
    font-size: 28px;
  }

  .three_card {
    display: block;
    padding: 25px 0px;
  }

  .row_card {
    align-items: center;
    padding: 47px 20px 68px;
    max-width: 273px;
    text-align: center;
    margin-bottom: 30px;
  }

  .left_2 {
    margin-top: 40px;
  }

  .second_card,
  .third_card {
    margin-left: 0px;
  }

  .section_3 {
    padding: 30px 0px 0px;
  }

  .left_1 {
    max-width: 100%;
  }
  
  .right_1 .image_2 {
    margin: 0px;
  }

  .main_3 {
    display: block;
  }

  .main_3 .left_1 .cta {
    margin-left: 0px;
  }

  .main_3 .left_1 .cta a.cta_button {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .heading_cont_1 h2 {
    font-size: 30px;
  }

  .section_4 {
    padding-top: 35px;
    padding-bottom: 0px;
  }

  .right_2 {
    max-width: 100%;
    margin-left: 0px;
  }

  .main_4 {
    display: flex;
    flex-direction: column-reverse;
  }

  .cta_4 a.cta_button {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .heading_cont_2 h2 {
    margin: 39px 0px 10px;
    font-size: 30px;
  }

  .heading_cont_2 p {
    margin-bottom: 45px;
  }
  
  .left_2 .image_2 {
    width: 100%;
    margin: 0 auto;
  }

  .heading_cont_1 p {
    margin-bottom: 45px;
  }

  .right_1 .image_2 {
    margin-left: 0px;
  }
  
  .right_1 {
    padding-top: 40px;
  }

  .six_cont {
    display: block;
    width: 100%;
  }

  .section_5 {
    padding: 1px 0px 0px;
  }

  .section_5 .align-center {
    max-width: 100%;
    text-align: center;
    padding-bottom: 50pxpx;
  }

  .section_5 .align-center h2 {
    font-size: 30px;
  }

  .first_three {
    display: block;
    align-items: center;
    padding-bottom: 93px;
  }

  .same {
    display: block;
    text-align: initial;
    margin: 0px 0px 30px;
    max-width: 100%;
  }

  .same .r1_cont {
    margin: 0px;
    max-width: 100%;
  }

  .same .r1_cont h3 {
    margin: 15px 0px 10px;
  }

  .second_three {
    display: block;
    padding: 0px 0px 93px;
  }


  .same .r1_cont p {
    margin: 0px 0px 12px;
  }

  .section_6 {
    padding: 20px 0px 30px;
  }

  .main_6 .dollar_icon {
    text-align: center;
    padding: 0px 0px 15px;
  }

  .main_6 .heading_6 {
    max-width: 100%;
    text-align: center;
  }

  .main_6 .heading_6 h2 {
    margin: 20px 0px 8px;
  }

  .card_cont .box_2 {
    margin: 0px;
  }

  .card_cont .box_2,
  .box_3 {
    margin-top: 30px;
  }

  .price_box {
    max-width: 100%;
  }

  .price_box .cta a.cta_button {
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .padding_0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .price_box h3 {
    font-size: 52px;
  }

  .price_box h3 .month {
    font-size: 16px;
  }

  .card_cont {
    display: block;
  }

  .main_7 {
    display: block;
  }

  .main_7 .four_div_same {
    max-width: 100%;
  }
  .main_7 .four_div_same h2,
  h6 {
    margin: 0px 0px 8px;
  }
  .section_8 {
    padding: 50px 0px 70px;
  }
  .heading_8 {
    max-width: 100%;
    display: block;
  }
  .section_8 h2 {
    font-size: 30px;
  }
  .main8_card_slider .same_5 {
    max-width: 100%;
  }

  .second_slider,
  .third_slider {
    margin-top: 15px;
  }
  
  .expert_man_main_div .expert_man_cont h5 {
    margin: 0px 0px 8px;
  }

  .main8_card_slider {
    display: block;
  }

  .section_9 {
    padding: 35px 0px 50px;
  }

  .section_9 .main_9 {
    display: block;
  }

  .main_9 .Left_bulb_cont {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .main_9 .Left_bulb_cont .bulb_2_cta {
    display: block;
    gap: 20px;
  }

  .main_9 .Left_bulb_cont .bulb_2_cta .second_bulb_cta {
    margin-left: 0px;
  }

  .main_9 a.cta_button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .second_bulb_cta {
    margin-top: 15px;
  }

  .section_10 {
    padding: 50px 0px 34px;
  }

  .section_10 .heading_10 {
    text-align: center;
    max-width: 100%;
  }

  .logo_first_row,
  .logo_second_row {
    display: block;
  }

  .section_11 {
    padding: 65px 0px 100px;
  }

  .main_11 {
    display: block;
  }

  .main_11 .right_bulb_and_portfolio_cont {
    max-width: 100%;
    width: 100%;
  }

  .suscribe_cont {
    max-width: 100%;
    width: 100%;
  }

  .section_12 {
    padding: 70px 0px 60px;
  }

  .suscribe_cont a.cta_button {
    width: 100%;
  }

  .main_12 {
    background: rgba(213, 224, 253, 0.35);
    padding: 70px 0 54px;
  }

  .business_expert_logo_1 {
    padding: 36px 0px;
    margin: 0 auto;
  }
  

  h1 {
    font-size: 35px;
    line-height: 30px;
    width: 100%;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  .align-right {
    text-align: left;
  }

  .align-center {
    text-align: left;
  }
  }

@media (max-width: 320px) {
  .main_6 .heading_6 {
    padding-bottom: 30px;
  }

  .main_6 .heading_6 h2 {
    font-size: 30px;
  }

  .section {
    padding: 40px 0px;
  }

  .align-center h2 {
    text-align: center;
  }

  .row_card h3 {
    color: #333;
    margin: 20px 0px 25px;
  }

  .main_2 .row_card {
    padding: 27px 20px 28px;
  }

  .section_2 {
    padding-bottom: 0px;
  }

  .heading_cont_1 h2 {
    margin: 20px 0px 10px;
  }
  }
